<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realmealboss.realmeal">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_boss"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_boss_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SearchEditAddressActivity"></activity>
        <activity android:name=".Home.MartInfoActivity" />
        <activity android:name=".Home.PromoteListActivity" />
        <activity android:name=".Home.MenuListActivity" />
        <activity android:name=".Home.LicenseCheckActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.realmealboss.realmeal.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Home.MartListActivity" />
        <activity android:name=".SearchAddressActivity" />
        <activity android:name=".Home.SalesListActivity" />
        <activity android:name=".Home.OrderListActivity" />
        <activity android:name=".Home.PromoteActivity" />
        <activity android:name=".Home.MartAddActivity" />
        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".KakaoInfoActivity" /> <!-- 카카오 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/KAKAO_APP_KEY" />

        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"

            android:resource="@drawable/ic_notification" />
    </application>

</manifest>